.users {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 30px;
}

.user {
  margin: 5px;
  border-radius: 50%;
}

.tooltip {
  position: relative;
}

.tooltip:hover::before,
.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

.tooltip::before {
  position: absolute;
  top: -5em;
  left: 50%;
  z-index: 1;

  visibility: hidden;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  white-space: nowrap;
  text-decoration: none;
  content: attr(data-tooltip);
  background: #272727;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.tooltip::after {
  position: absolute;
  top: -0.75em;
  left: 50%;

  visibility: hidden;
  margin-left: -0.375em;
  content: "";
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 0.375em;
  opacity: 0;
  transition: opacity 0.3s;
}

.contributors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr.divider {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 20px;
  border: none;
  border-top: 0.4px solid #d7d7d7;
}

.dark hr.divider {
  border-top: 0.4px solid #252525;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
}
