:root {
  --vp-c-brand-1: #7b5af4;
  --vp-c-brand-2: #5b58ef;
  --vp-c-brand-3: #1155d9;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #7b5af4, #1155d9);
}

.dark {
  --vp-c-bg: #151515;
}
